<header class="header container py-5">
  <section class="d-flex justify-content-between align-items-center">
    <div class="logo">
      <h1 class="ml-2">PyDo</h1>
    </div>
    <div class="button-container py-5">
      <button type="button" class="btn btn-primary mx-2 rounded-pill" name="register" id="register"title="S'inscrire">S'inscrire</button>
      <button type="button" class="btn btn-primary mr-2 rounded-pill" name="login" id="login" title="Se Connecter">Se Connecter</button>
    </div>
  </section>
</header>
<main class="main">
  <section class="my-4">
    <p class="text-center">
      Organisez votre quotidien avec simplicité grâce à PyDo. 
    </p>
    <p class="text-center mt-2">
      votre compagnon intelligent pour gérer vos tâches et atteindre vos objectifs sans stress. 
    </p>
  </section>
</main>
<footer class="footer py-4">
  <div class="row">
    <div class="col-lg-6">
        <p class="logo ml-2">
          PyDo
        </p>
    </div>
    <div class="col-lg-6">
        <p>Copyrights-2024</p>
        <p>Alexis Bessac</p>
    </div>
  </div>
</footer>
<router-outlet />